




/*********************************************Mise en forme de la page *********************************************/

body {
	background-color: #ededff;	
	margin : 0px;
	padding: 0px;
	border: 0px;	
}

#entete
{   	width: 100%;
	margin-left: 0px;
  	 margin-top: 0px;
	margin-right: 0px;	
	margin-bottom: 0px;
}

#sous_entete
{
   	width: 100%;
   	margin-left: 0px;
  	margin-top: 0px;
	margin-right: 0px;	
	margin-bottom: 0px;
clear:both}



#contenu
{
   	width: 1000px;
   	
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
clear:both}

hr {display:none;}


#menu_gauche
{
   float: left; /* Le menu flottera à gauche */
   width: 210px; /* Très important : donner une taille au menu */
}

#menu_droit
{
   float: right; /* Le menu flottera à gauche */
   width: 210px; /* Très important : donner une taille au menu */
display: none;}

#bandeau_droit
{ 
   float: right; /* Le menu flottera à gauche */
   width: 210px; /* Très important : donner une taille au menu */
display: none;}

#corps
{display: block;
	width: 770px;
	float: right;
	margin-left: 0px; /* Une marge à gauche pour pousser le corps, afin qu'il ne passe plus sous le menu */
	margin-bottom: 0px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
  
	padding-top:1px;
	padding-bottom:1px;
	padding-right: 5px;
	padding-left: 5px;

	border-top: 1px solid #dcdef5;
	border-bottom: 1px solid #dcdef5;   
	border-left: 1px solid #dcdef5;  
	border-right: 1px solid #dcdef5;  
   	background-color: #FFFFFF;
}


#corps_modules
{display: block;
	width: 770px;
	float: right;
	margin-left: 0px; /* Une marge à gauche pour pousser le corps, afin qu'il ne passe plus sous le menu */
	margin-bottom: 0px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
	
	padding-top:1px;
	padding-bottom:1px;
	padding-right: 5px;
	padding-left: 5px;

	border-top: 1px solid #dcdef5;
	border-bottom: 1px solid #dcdef5;   
	border-left: 1px solid #dcdef5;  
	border-right: 1px solid #dcdef5;  
   	background-color: #FFFFFF;

}

.annonce {width:1000px; margin: 20px auto; display: block;}
.annonce img{height: auto; width:auto; margin: auto; display: block;}

#haut_de_contenu
{
   	width: 100%;
   	 text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
clear:both}


#haut_de_contenu_index
{
   	width: 100%;
   	height:40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
clear:both}

#bas_de_contenu
{
   	width: 95%;
   	
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
clear:both}

#bas_de_menu
{
   float: left; /* Le bas_de_menu flottera à gauche */
   width: 210px; /* Très important : donner une taille au bas_de_menu */
}


#bas_de_corps
{
   margin-left: 240px; /* Une marge à gauche pour pousser le corps, afin qu'il ne passe plus sous le menu */
   margin-bottom: 0px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */

}


#haut_de_pied_de_page
{
       width: 100%;
       margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;	
	margin-bottom: 0px;
clear:both}


#pied_de_page
{
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;	
	margin-bottom: 0px;
clear:both}


#envoi_haut_de_page { float: left;}
#envoi_haut_de_page a:link {color: #000000; text-decoration: none; font-variant: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px ; text-align: justify;}
#envoi_haut_de_page a:hover {color: #CC0000; text-decoration: none; font-variant: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px ; text-align: justify;}
#envoi_haut_de_page a:visited {color: #000000; text-decoration: none; font-variant: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px ; text-align: justify;}



/*********************************************Mise en forme des TEXTES *********************************************/

.texte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #000000;
}

.textec {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: center;
	color: #000000;
}


.texte_table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #000000;
	text-indent:5px;
}

.texte8px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px ;
	text-align: justify;
	color: #000000;
}

.texte9px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px ;
	text-align: justify;
	color: #000000;
}

.texte10px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px ;
	text-align: justify;
	color: #000000;
}

.texte11px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #000000;
}

.texte12px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px ;
	text-align: justify;
	color: #000000;
}

.texte13px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px ;
	text-align: justify;
	color: #000000;
}

.maj {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px ;
	text-align : right;
	color: #000000;
}


/****************** Mise en forme des titres ******************/

.titre1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #4B5EAA;
    text-decoration: underline;
    text-align: left;
}


.titre2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #CC0000;
    text-decoration: underline;
    text-align: left;
}

.titre3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #33CC00;
    text-decoration: underline;
    text-align: left;
}

.titre4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    color: #FF0000;
    text-decoration: underline;
    text-align: left;
}

.titre5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    text-decoration: underline;
    text-align: left;
}


/****************** Mise en forme des listes ******************/


.li1{
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: justify;
    margin-left:10px;
   list-style-type: disc;
}

.li2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: justify;
    margin-left:30px;
   list-style-type: circle;
}

.li3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: justify;
    margin-left:50px;
   list-style-type: square;
}

.li4{
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: justify;
    margin-left:70px;
   list-style-type: disc;
}

.li5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: justify;
    margin-left:90px;
   list-style-type: circle;
}

.li6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: justify;
    margin-left:110px;
   list-style-type: square;
}


/****************** Mise en forme des liens ******************/

a:link {
	color: #000099;
	text-decoration: underline;
	font-variant: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
}
 a:visited {
	color: #000099;
	text-decoration: underline;
	font-variant: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
	font-variant: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
}






/*********************************************Mise en forme du HEADER *********************************************/

#bghaut{
   	width: 100%;
   	height:21px;
	margin-left: 0px;
  	 margin-top: 0px;
	margin-right: 0px;	
	margin-bottom: 0px;
	background-image: url('images/entete/bghaut.png');
}

#bgheader{
   	width: 100%;
   	height:120px;
	margin-left: 0px;
  	margin-top: 0px;
	margin-right: 0px;	
	margin-bottom: 0px;
	background-image: url('images/entete/bgheader.png');
}

#header{
   	
	height:120px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url('images/entete/header.png');
}




/*********************************************Mise en forme du PIED DE PAGE *********************************************/

#pied_page{
	width: 100%;
	height: 53px;
	background-image: url('images/entete/bg_footer.jpg') ;
	background-repeat: repeat; 
	
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #3366FF;
    text-decoration: none;
    text-align: left;
}

#pied_page a:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;  color: #3366FF; text-decoration: none; }
#pied_page a:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3366FF; text-decoration: none; }
#pied_page a:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3366FF; text-decoration: underline; }
#pied_page a:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3366FF; text-decoration: underline;}




/*********************************************Mise en forme des MENUS*********************************************/

/*************************MENU HAUT *************************/

.menu_navigation a:link { font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;  color: #000000; text-decoration: none; }
.menu_navigation a:visited {font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none; }
.menu_navigation a:active {font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #33CC00; text-decoration: none; }
.menu_navigation a:hover {font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #33CC00; text-decoration: none;     font-weight: bold;}



/*************************MENU GAUCHE *************************/

.menu_gauche a:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;  color: #000000; text-decoration: none; }
.menu_gauche a:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none; }
.menu_gauche a:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #33CC00; text-decoration: none; }
.menu_gauche a:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #33CC00; text-decoration: none; font-weight: bold;}

.menu_gauche_pub_facebook  {
width: 200px;
display:block;
}

.menu_gauche_titre  {
width: 200px;
height:25px;
background: url('images/menu/menu_gauche_titre.png');
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-style: normal;
text-align: center;
color: #0000FF;
font-size: 13px;
font-weight: bold;
}

.menu_gauche_titre_bleu {
width: 185px;
height:25px;
padding-left: 15px;
background: url('images/menu/menu_gauche_titre_rouge.png');
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-style: normal;
text-align: left;
color: #000000;
font-size: 10px;
font-weight: bold;
} 

.menu_gauche_titre_rouge {
width: 185px;
height:25px;
padding-left: 15px;
background: url('images/menu/menu_gauche_titre_bleu.png');
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-style: normal;
text-align: left;
color: #000000;
font-size: 10px;
} 

.menu_droit_titre_bleu {
width: 185px;
height:25px;
padding-left: 15px;
background: url('images/menu/menu_droit_titre_bleu.png');
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-style: normal;
text-align: left;
color: #000000;
font-size: 10px;
} 


.menu_gauche_lien  {
width: 185px;
height:25px;
padding-left: 15px;
background: url('images/menu/menu_gauche_lien.png');
}

.menu_gauche_haut  {
width: 200px;
height:20px;
background: url('images/menu/menu_haut_gauche.png');
}

.menu_gauche_bas  {
width: 200px;
height:20px;
background: url('images/menu/menu_bas_gauche.png');
}

.menu_gauche_moteur_recherche  {
width: 200px;
text-align: center;
vertical-align : middle;
background: url('images/menu/bg_moteur_recherche.png');
}




/****************************************************************************************
******************************* INDEX FACEBOOK  ************************************
*****************************************************************************************/

.tableau_facebook {margin:10px 0px 30px 0px; padding: 0; border:0; margin-left:0; margin-right:0;}

.tableau_facebook tr td.image {vertical-align:top; padding-right: 30px;}


.tableau_facebook tr td.texte p {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #333333;
}

.tableau_facebook tr td.texte  a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #4B5EAA;
	text-decoration: underline;
}








/****************************************************************************************
******************************* INDEX PUB PROCHAIN SITE ************************************
*****************************************************************************************/

.tableau_pub {margin:10px 0px 30px 0px; padding: 0; border:0; margin-left:0; margin-right:0;}

.tableau_pub tr td.image {vertical-align:top; padding-right: 30px;}


.tableau_pub tr td.texte p {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #333333;
}

.tableau_pub tr td.texte ul li {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ;
	text-align: justify;
	color: #333333;
}

.tableau_pub tr td.texte  h1{
	text-align: left;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #4B5EAA;
	text-decoration: none;
	padding-left: 30px;
	padding-bottom: 15px;
}

.tableau_pub tr td.texte .question{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px ;
	text-align: justify;
	color: #008000;
	font-weight: bold;

}


/****************************************************************************************
******************************* INDEX PUB CONTACT ************************************
*****************************************************************************************/

.tableau_mail {margin:10px 0px 30px 0px; padding: 0; border:0; margin-left:0; margin-right:0;
font-family: Helvetica, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; color: #333333;}

.tableau_mail tr td.image {vertical-align:top;}

.tableau_mail tr td.texte  {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	color: #4B5EAA;
	text-decoration: none;
	text-align: left;
	padding: 0;
}

.tableau_mail tr td.texte  a{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #CC0000;
	text-decoration: underline;
	text-align: left;
	padding: 0;
}

/****************************************************************************************
******************************* FORMULAIRE CONTACT ************************************
*****************************************************************************************/

.tableau_contact {margin:10px 0px 30px 0px; width:100%; padding: 0; border:0; margin-left:auto; margin-right:auto;}

.tableau_contact tr td.image {vertical-align:top;}

.tableau_contact tr td.texte h1{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: #4B5EAA;
	text-decoration: none;
	text-align: left;
	margin : 20px 0 20px 20px;
}

.tableau_contact tr td.texte p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px ;
	text-align: justify;
	color: #000000;
}

div#formulairecontact fieldset.formcontact{
	border: 2px dashed #ccc;
	padding: 10px;
	background-color: #f5f5fa;
}

div#formulairecontact fieldset.formcontact .inputbox, div#formulairecontact fieldset.formcontact .inputcode{
	border: 1px solid #c0c0c0;
	padding: 2px;
	background-color: #ffffff;
	cursor:text;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px ;
	color: #000;	
}

div#formulairecontact fieldset.formcontact .inputbox{
	width:350px;
}

div#formulairecontact fieldset.formcontact .error{
 	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px ;
	color:#f55;
	border:none;
}

div#formulairecontact fieldset.formcontact dt{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px ;
	text-align: justify;
	color: #000000;
	float: left;
	width:200px;
	text-align: left;
	display: block;
}

div#formulairecontact fieldset.formcontact dd{
	margin-left: 180px;
	vertical-align: top;
}

div#formulairecontact fieldset.formcontact div#envoi_ok{
	width:350px;
	border: 1px solid #ccc;
	margin: auto; 
	padding: 15px;
	background-color: #e6e6f3;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px ;
	text-align: center;
	color: #000000;
}


div#formulairecontact fieldset.formcontact input.submit, div#formulairecontact fieldset.formcontact input.reset {
	cursor : pointer;
}







