body {
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*
	Responsive menu
*/

.responsive-menu {
	display: bloc;
	background:#00ADE3;
	text-align:center;
	border-bottom: 4px solid #2D3393;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px ;
	}

.responsive-menu .trigger,
.responsive-menu h2 {
	display:none;
}

.responsive-menu ul { 
	margin:0;
	padding:0;
	list-style-type:none;
}

.responsive-menu ul li {
	display:inline;
}

.responsive-menu ul li a { 
	display: inline-block;
	padding:7px;
	color:#fff;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.92em ;
}

.responsive-menu ul li a:hover { 
	background-color:#527BBD;
	text-decoration:underline;
}

@media only screen and (max-width : 1170px) {
	
	.responsive-menu h2 {
		text-align:center;
	}
	.responsive-menu ul li a {
		text-align:left;
	}	
		
	.responsive-menu .trigger {
		display:block;
		cursor:pointer;
		color:#fff;
		padding:10px;
		font-weight:bold;
		background:#2D3393 url('../images/responsive-menu-icon.png') 97% 50% no-repeat; 
	}


	
	.responsive-menu.open .trigger {
		background-color:#2D3393;
	}
	
	.responsive-menu ul li a,
	.responsive-menu ul li {
		display:block;
	}

	.responsive-menu ul {
		display:none;
	}	
}