sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"FHKNBN+ComicSansMS-Bold";
	src:url("4026736b-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.169925em;
	font-family: "FHKNBN+ComicSansMS-Bold";
	color: #0000FF;
}
.stl_08 {
	line-height: 1.393555em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.002px;
}
.stl_10 {
	font-size: 1em;
	font-family: "FHKNBN+ComicSansMS-Bold";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0em;
}

.ie .stl_11 {
	letter-spacing: -0.0003px;
}
@font-face {
	font-family:"LDWNPU+ComicSansMS";
	src:url("6e50dbc3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 1em;
	font-family: "LDWNPU+ComicSansMS";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0.0001em;
}

.ie .stl_13 {
	letter-spacing: 0.0018px;
}
.stl_14 {
	letter-spacing: 0.0002em;
}

.ie .stl_14 {
	letter-spacing: 0.0029px;
}
@font-face {
	font-family:"VHACOW+TimesNewRomanPSMT";
	src:url("41b00231-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "VHACOW+TimesNewRomanPSMT";
	color: #000000;
}
.stl_16 {
	line-height: 1.107422em;
}
.stl_17 {
	letter-spacing: -0.0014em;
}

.ie .stl_17 {
	letter-spacing: -0.0222px;
}
.stl_18 {
	letter-spacing: -0.0026em;
}

.ie .stl_18 {
	letter-spacing: -0.0416px;
}
.stl_19 {
	letter-spacing: -0.002em;
}

.ie .stl_19 {
	letter-spacing: -0.0319px;
}
.stl_20 {
	font-size: 1em;
	font-family: "FHKNBN+ComicSansMS-Bold";
	color: #FF0000;
}
.stl_21 {
	letter-spacing: -0.0006em;
}

.ie .stl_21 {
	letter-spacing: -0.0101px;
}
.stl_22 {
	letter-spacing: -0.0011em;
}

.ie .stl_22 {
	letter-spacing: -0.0184px;
}
.stl_23 {
	letter-spacing: -0.0004em;
}

.ie .stl_23 {
	letter-spacing: -0.0062px;
}
.stl_24 {
	font-size: 0.669925em;
	font-family: "LDWNPU+ComicSansMS";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0007em;
}

.ie .stl_25 {
	letter-spacing: -0.0114px;
}
.stl_26 {
	letter-spacing: -0.0008em;
}

.ie .stl_26 {
	letter-spacing: -0.0125px;
}
.stl_27 {
	letter-spacing: -0.0002em;
}

.ie .stl_27 {
	letter-spacing: -0.0025px;
}
.stl_28 {
	letter-spacing: -0.0009em;
}

.ie .stl_28 {
	letter-spacing: -0.0141px;
}
.stl_29 {
	font-size: 1em;
	font-family: "VHACOW+TimesNewRomanPSMT";
	color: #FF0000;
}
.stl_30 {
	font-size: 1em;
	font-family: "LDWNPU+ComicSansMS";
	color: #FF0000;
}
.stl_31 {
	letter-spacing: -0.0005em;
}

.ie .stl_31 {
	letter-spacing: -0.0079px;
}
.stl_32 {
	font-size: 0.669925em;
	font-family: "FHKNBN+ComicSansMS-Bold";
	color: #FF0000;
}
